
body{
	background-color: #dfdfdf;
	height: 100%;
  overflow-y:scroll;
}

.navbar-inverse .navbar-brand{
	color: #dfdfdf;
}

canvas{
  
  height: 200px;
  width: 400px;

  position: absolute;
  margin-left: 35% ;
  
}

form{
  position: absolute;
  float:left;
  top: 70%;
  left: 40%;
  width: 20%;
  min-width: 100px;
}

#remark-success{
  position: absolute;
  top: 75%;
  left:50%;
  margin-left: -120px;
  display:none;


}
#remark-wrong{
  position: absolute;
  top: 75%;
  left:50%;
  margin-left: -140px;
  display:none;

}
footer {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
